body{
background-image:url(../images/veges.jpg);
background-repeat: no-repeat;
background-position: 50% 15%;
background-size: cover;
margin-top: 150px;
}
#mainForm{

    margin: 0 auto;
    height: 400px;
    width: 420px;
    background-color: #003;
    box-shadow: 0px 40px 80px #034;
    padding: 25px;
    
}

#loginDiv {
    width: 200px;
    background-color: #116;
    margin-left: 0;
    padding: 0;
    float: left;
}
#signUpDiv {
    margin-right: 0;
    padding: 0;
    width: 200px;
    background-color: #116;
}
#signUpDiv, #loginDiv{
    display: inline-block;
}
.formInputs{
    height: 60px;
}
